<mat-toolbar color="primary">


  <span> Food Truck Lovers</span>
  <span class="span-spacer"></span>


  <div class="buttons-nav-bar">
    <button  mat-raised-button class="button-home" aria-label="button-for-home" [routerLink]="'/home'" >
      <mat-icon>home</mat-icon>
      Home
    </button>

    <button  mat-raised-button class="button-register" aria-label="button-for-home" [routerLink]="'/owners/food-trucks/new'">
      <mat-icon>assignment</mat-icon>
      Register Food Truck
    </button>
  </div>

</mat-toolbar>
